/* reset styles */
* {
  box-sizing: border-box;
  min-width: auto;
}
html, body {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  display: flex;
}
:not(p) {
  line-height: 1;
}
/* qiss */
[margin] {
  margin: attr(margin px);
}
[margin="max"] {
  margin: auto;
}
[width] {
  min-width: attr(width px);
}
[height] {
  min-height: attr(height px);
}
[gap] {
  gap: attr(gap px);
}
[row-gap] {
  row-gap: attr(row-gap px);
}
[column-gap] {
  column-gap: attr(column-gap px);
}
[scroll-x] {
  overflow-x: auto;
}
[scroll-y] {
  overflow-y: auto;
}
/* row, column */
row, column {
  display: inline-flex;
  justify-content: flex-start;
  align-items: stretch;
}
row > [height] {
  align-self: center;
}
column {
  flex-direction: column;
}
column > [width] {
  align-self: center;
}
/* row-split, column-split */
row-split, column-split {
  display: flex;
  align-items: center;
}
row-split > *, column-split > * {
  flex: 1;
}
column-split {
  flex-direction: column;
}
/* row-wrap, column-wrap */
row-wrap, column-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
column-wrap {
  flex-direction: column;
}
